html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 21px;
  color: $white;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}
