/* Размеры экрана */
$mobile: 320px;
$phablet: 408px;
$tablet: 701px;
$desktop: 1000px;
$desktop-max: 1440px;

/* Цвета */
$white: #ffffff;
$black: #000000;

$bg-burgundy: #8E0028;
$bg-red-opacity: rgba(#E43628, 6%);
$bg-green-opacity: rgba(#008F40, 6%);
$bg-orange-opacity: rgba(#ED7604, 6%);
$bg-indigo-opacity: rgba(#0065B1, 6%);
$bg-gray-mobile: #B0B0B0;

$basic-red: #E43628;
$basic-orange: #ED7604;
$basic-orange-light: rgba(#ED7604, 9%);
$basic-yellow: #FFC83A;
$basic-green: #008F40;
$basic-azure: #13C9B3;
$basic-blue: #369BD7;
$basic-indigo: #0065B1;
$basic-violet: #8F328A;
$basic-herbal: #14BF00;

$ozon-basic: #005BFF;
$ozon-hover: #003599;
$wb-light: #CC03B8;
$wb-dark: #7100A6;
$wb-basic: #AC0AC7;
$wb-hover: #7E0792;
$yandex-m-basic: #FED104;
$yandex-m-hover: #FFAE11;

$brand-red: #FF3F4A;
$brand-dark-blue: #292F51;
$brand-green: #00A660;
$brand-green-light: rgba(#00A660, 9%);

$button-intro-hover: #FF5E67;

$whatsapp: #29A61A;
$whatsapp-hover: #126408;
$telegram: #039BE4;
$telegram-hover: #005A86;

$font-gray: #6E6E6E;
$font-gray-dark: #4F4F4F;

$special-gray-light: #F5F5F5;
$special-gray: #D1D1D1;
$special-gray-dark: #A8A8A8;

$color-1: #FCD82A;
$color-2: #FB7B30;
$color-3: #CCB999;
$color-4: #04422B;
$color-5: #64B5EA;
$color-6: #FAD793;
$color-7: #FFFFFF;
$color-8: #7B3132;
$color-9: #A04820;
$color-10: #131313;
$color-11: #6B6B6B;
$color-12: #7BCB72;
$color-13: #00316C;
$color-14: #F3E7CF;
$color-15: #5B3F27;
$color-16: #A7ACA8;
$color-17: #8C3F2D;
$color-18: #006F44;
$color-19: #3E3027;
$color-20: #00C3B3;
